@import 'modules/reset';
@import 'modules/container';

@import 'modules/grid6';
@import 'modules/font';
@import 'effects/animation';
@import 'effects/slider';

@import 'partials/body';
@import 'partials/section';

@import 'modules/mediaQuery';
