/* --- header --- */

#logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    //background-position: center;
}

#QRcode {
    justify-content: flex-end;
}

#img_QRcode {
    width: 250px;
    height: 100%;
    background-image: url("../images/QRcode.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#text_QR {
    #text_property {
        font-weight: bold;
    }
    font-size: 1.2em;
    text-align: right;
    display: table;
    span {
        color: orange;
        font-weight: bold;
    }
    padding: 10px;
}


/* --- gallery --- */

#text_gallery {
    justify-content: flex-start;
    font-size: 1.2em;
    text-align: left;
    span {
        color: orange;
    }
    padding: 30px 10px 10px;

    div {
        height: 3px;
        width: 100%;
        background-color: orange;
    }
}

#images {
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    img {
        width: 200px;
        height: 150px;
        padding: 10px;

    }
}



/* --- contents --- */


#article {
    //justify-content: flex-start;
    padding: 10px;


    .article_text {
        font-size: 1.2em;
        line-height: 1.2;
        padding: 10px 0px;

    }

}

.head_contents {
    height: 8px;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding: 20px 30px 40px;
    background-color: #2F2F2F;
    color: white;
    p {
        align-self: center;
    }
    span {
        color: orange;
    }


}

#details {

    padding: 10px;
    table {
        align-self: flex-start;

        border-collapse: collapse;
        width: 100%;
        font-size: 1.2em;
        td {
          text-align: left;
          padding: 10px;
        }
        tr:nth-child(odd){background-color: #f2f2f2}
    }
}


#contact {

    padding: 10px;
    img {
        width: 220px;
        height: 350px;
        padding: 30px 0px 10px 30px;
    }
    #img_contact {
        width: 50%;

    }
    #text_contact {
        padding-top: 30px;
        width: 50%;
        font-size: 1.2em;
    }
    #text_office {
        width: 100%;
        text-align: right;
        p {
            font-size: 1.2em;
            color: gray;
            padding: 0px 30px 20px;
        }

    }
}
