.grid-container {
    width : 100%;
    //max-width : 1200px;

}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

/* --- nav --- */

#container_nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* --- intro --- */

#container_half_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#container_text_intro {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#container_half_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}


/* --- about --- */

.container_about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    //align-items: stretch;
}

/* --- skill --- */

.container_skill {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.container_up {
    justify-content: flex-end;
}

/* --- work --- */

.container_work {
    justify-content: center;
    div {
      align-self: center;
    }
}


/* --- contact --- */

.container_contact {
    justify-content: center;
    div {
      align-self: center;
    }
}
.text_contact {
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}


/* --- foo --- */

.container_foo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
