.grid-container {
    width : 100%;
    //max-width : 1200px;
    padding: 30px 20px;

}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
