@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
