*{
    box-sizing: border-box;
}


[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.666%;
    padding: 1px;
    //background-color: #FFDCDC;
    //border: 1px solid lightgreen;
    display: flex;
    height: 100%;
}



.col-1 {
    width:16.66%;
}

.col-2 {
    width:33.33%;
}

.col-3 {
    width:50%;
}

.col-4 {
    width:66.66%;
}

.col-5 {
    width:83.33%;
}

.col-6 {
    width:100%;
}
