$phone: "(max-width: 479px)";
$tablet: "(min-width: 480px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";





@media #{$phone} {

/* --- header --- */

      #logo {
            width: 100%;
            height: 150px;
      }
      #QRcode {
            width: 100%;
            height: 150px;
      }
      #text_QR {
            width: 50%;
      }
      #img_QR {
            width: 50%;
      }

/* --- gallery --- */

      #text_gallery {
            height: 100px;
      }
      #slider {
            height: 300px;
            width: 100%;
      }
      #images {
            height: 150px;
            width: 100%;
      }

/* --- contents --- */

      #article {
            height: 200px;
      }
      #details {
            height: 200px;
            width: 100%;
      }
      #contact {
            height: 200px;
            width: 100%;
      }

}


@media #{$desktop} {

/* --- header --- */

      #logo {
            height: 150px;

      }
      #QRcode {
            height: 150px;
      }
      #text_QR {
            font-size: 1.5em;
      }
      #img_QR {

      }

/* --- gallery --- */

      #text_gallery {
            height: 100px;
            p {
                font-size: 1.5em;
            }
      }
      #slider {
            height: 350px;

      }
      #images {
            height: 350px;

      }

/* --- contents --- */

      #article {
            height: 150px;
      }
      #details {
            height: 350px;

      }
      #contact {
            height: 350px;

      }



}
