#slider {
      ul {
          list-style: none;
      }
      li {
          display: none;
      }
      .visible {
          display: inline-block;
          //opacity: 0.5;
      }
      .opacity {
          opacity: 1;
      }
      img {
          width: 450px;
          height: 300px;
      }

      align-items: center;

/*
      .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 5.5s;
          animation-name: fade;
          animation-duration: 5.5s;
      }

      #nextPicture:hover {
          background-color: rgba(0,0,0,0.8);
      }
      #prevPicture:hover {
          background-color: rgba(0,0,0,0.8);
      }
*/

// animation not work
}
