#slider {
      ul {
          list-style: none;
      }
      li {
          display: none;
      }
      .visible {
          display: inline-block;
          //opacity: 0.5;
      }
      .opacity {
          opacity: 1;
      }
      img {
          width: 450px;
          height: 300px;
      }

      align-items: center;
}
